{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="category-item">
			<h3 class="category-item__header">
				<span class="header__title">Add a new country</span>
			</h3>
			<div class="container">
                <form action="{{ url_for('newItem')}}" method="post">
                    <label>Name:</label>
                    <br><br>
                    <input type="text" size='34' name="name" required>
                    <br><br>
                    <label>Description:</label>
                    <br><br>
                    <textarea name="description" cols="80" rows="5" required></textarea>
                    <br><br>
                    <label>Category:</label>
                    <br><br>
                        <select name="category" required>
                            {% for category in categories %}
                                <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    <br><br>
                    <input class="button" type="submit" value="Add a country">
                </form>
			</div>
		    <a class="button" href="{{url_for('showCategories')}}">Back</a>
		</div>
	</div>

{% endblock %}

